*{
    padding: 0px;
    margin: 0px;
}
body{
    position: relative;
}
.why-content{
    min-width: 100vw;
    min-height: 100vh;
}

.back-img-full{
    width: 100%;
    height: 100%;
}   
.why-ad-gif{
    width: 100%;
}

/*顶部导航*/
.why-navi-bar{
    display: flex;
    padding: 8px;
}
.why-navi-bar-item{
    border: #1296db solid 1px;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 36px;
    color: #ff0000;
}
.why-navi-bar-item:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.why-navi-bar-item:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.why-navi-bar-active{
    background-color: #1296db;
    color: #ffffff;
}

/*底部几个按钮*/
.why-tabbar{
    display: flex;
    max-height: 50px;
    position: fixed;
    width: 100vw;
    bottom: 0px;
}
.why-tabbar-item{
    flex: 1;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.why-tabbar-item img{
    height:25px;
    width: 25px;
    min-height: 25px;
    min-width: 25px;
}
.why-tabbar-item span{
    font-size: 14px;
    line-height: 14px;
    margin-top: 4px;
}
.why-tabbar-item-active{
    color:#1296db;
}

/*列表*/
.why-list-item{
    display: flex;
    padding: 8px;
    align-items: center;
    min-height: 44px;
    border-top: #fafafa solid 1px;
}
.why-list-item-img{
    width: 44px;
    height: 44px;
    border-radius: 999px;
}
.why-list-item-right-bt{
    height: 30px;
    min-width:50px;
    padding: 0px 10px;
    background-color: #F0F8FF;
    color: #0000FF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break:keep-all; 
    white-space:nowrap; 
}
.why-list-item-info{
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: 8px;
}
.why-list-item-info-title{
    font-size: 14px;
}
.why-list-item-info-desc{
    font-size: 13px;
    color: #aaaaaa;
}



/* 浮动*/
.why-fixed1{
    /*固定*/
    position: fixed;
    /*距离顶部高度*/
    top: 100px;
    /*距离左边*/
    left: 0px;
    /*宽度*/
   /* width: 200px;*/
    /*高度*/
   /* height: 500px;*/
    /*行高*/
    line-height: 500px;
    /*文本对齐*/
    text-align: center;
    /*边框*/
    border: 1px solid #1296db;
    /*背景颜色*/
    background-color: #FFF;
}
.why-fixed2{
    position: fixed;
    top: 100px;
    /*距离右边边*/
    right: 0px;
   /* width: 200px;*/
 /*   height: 500px;*/
    line-height: 500px;
    text-align: center;
    border: 1px solid #1296db;
    background-color: #FFF;
}



/*浮动 全屏*/
.why-fixed-full{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    /*浮动在 9999999 层*/
    z-index: 9999999;
}

/* 浮动在 上 右 8px*/
.why-fixed-top-right-8{
    position: fixed;
    top: 8px;
    /*距离右边边*/
    right: 8px;
    height: 100px
}

